<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href = "/css/userProf.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-sidenav a {padding:20px}
</style>
<body>
<p class = "info">{{ checkedImgArray }}</p>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfQfu_lYvY-Bea1Ir2sMchTvMqS_AItc4&callback=initMap">
    </script>
</body>
</html>
