<!DOCTYPE html>
<html>
<title>User Mango</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-sidenav a {padding:20px}
</style>
<body>

<!-- Sidenav (hidden by default), lets customize this!!  -->
<nav class="w3-sidenav w3-card-2 w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidenav">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-closenav">Close Menu</a>
  <a href="#food" onclick="w3_close()">Update</a>
  <a href="#about" onclick="w3_close()">Me</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-center">Your Mangos</div>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <h3>Upload Images</h3>
  <form ref = "uploadForm" id = "uploadForm" action = "" method = "post" encType = "multipart/form-data">
  <input type = "file" name = "file" id = "fileupload"/>
<!-- gets location from user, uses autocomplete search from google maps api -->
    <div id="locationField">
      <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input>
    </div>
  <input type="Submit" value="Submit" id = "submit" placeholder = "Add Mango!" onclick = "getAddress()" width = "30"/>
</form>
<script>
      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', function() {});
      }
      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }


      function getAddress(){
        //get address from input box
        var address = document.getElementById('autocomplete').value;
        //filename, not including prev path
        var fileName =  Date.now() + '_' + document.getElementById('fileupload').value.substring(12);

        var photoInfo = {
            "fileName" : fileName,
            'address' : address
        }
        //stringify as json, send info over to backend, hopefully
        
        var r = new XMLHttpRequest();   // new HttpRequest instance 
        r.open("POST", "/users/userProfile");

        r.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        r.send(JSON.stringify(photoInfo));
      }


      // A $( document ).ready() block.
      $( document ).ready(function() {
          getAddress();
      });
    </script>



<!-- <script src="../js/imageInfo.js"></script>
 -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfQfu_lYvY-Bea1Ir2sMchTvMqS_AItc4&libraries=places&callback=initAutocomplete"
  async defer></script>
</body>
</html>
