<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	</head> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>	
	<script src = "http://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>
	<script src="/js/masonry.pkgd.min.js"></script>
	 <!-- <link rel="stylesheet" href="/css/bootstrap.css" /> -->
  	<link rel="stylesheet" href="/css/explore-style.css" />
<body>
<h1>Explore</h1>
<!-- currently hardcoding images from user page -->

<div class="grid">
  <div class="grid-item">
    <img src="/images/fried.png" />
  </div>
  <div class="grid-item">
    <img src="/images/glass.png" />
  </div>
  <div class="grid-item">
    <img src="/images/matchacrepecake.png" />
  </div>
  <div class="grid-item">
    <img src="/images/nets.png" />
  </div>
  <div class="grid-item">
    <img src="/images/tower.png" />
  </div>
  <div class="grid-item">
    <img src="/images/towerentrance.png" />
  </div>
   <div class="grid-item">
    <img src="/images/oysters.png" />
  </div>
   <div class="grid-item">
    <img src="/images/beachsunset.png" />
  </div>
   <div class="grid-item">
    <img src="/images/bluelights.png" />
  </div>
</div>

<!-- after images loaded, run script -->
	<script src="/js/masonry.js"></script>
</body> 
</html>